* {
    user-select: none;
}

html,
body {
    height: 100%;
    margin: 0;
    background: #121213;
    color: #d7dadc;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Inter", Arial, sans-serif;
}

.page-wrap {
    height: 100vh; /* Tam ekran yükseklik */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 12px;
    box-sizing: border-box;
}

.game-container {
    width: 100%;
    max-width: 400px;
    height: 100%; /* İçeriği de tam yükseklikte yapar */
    display: flex;
    flex-direction: column; /* Yukarıdan aşağı düzen */
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    border-bottom: 1px solid #3a3a3c;
    padding-bottom: 8px;
}

.brand {
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 1.5rem;
}

.stats {
    display: flex;
    gap: 10px;
    opacity: 0.9;
    align-items: center
}

.stats span {
    min-width: 26px;
    text-align: center;
    font-weight: bold;
}

#leaderboard {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    padding: 5px;
}

#leaderboard[gold] {background: radial-gradient(ellipse farthest-corner at left top, #FFD700 0%, #FFC700 40%, #B8860B 100%);color: white;}
#leaderboard[silver] {background: radial-gradient(ellipse farthest-corner at left top, #C0C0C0 0%, #D9D9D9 40%, #A9A9A9 100%);color: black;}
#leaderboard[bronze] {background: radial-gradient(ellipse farthest-corner at left top, #CD7F32 0%, #D2691E 50%, #8B4513 100%);color: white;}

.tiles {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 22px 0 16px;
}

.tile {
    width: 60px;
    height: 60px;
    transition: background-color 0.3s ease;
    border: 2px solid #3a3a3c;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 2.2rem;
    font-family: "Courier New", monospace;
    user-select: none;
}

.tiles div.d-flex {
    justify-content: center;
    gap: 8px;
}

.progress-wrap {
    margin: 8px 0 20px;
}

.progress {
    height: 10px;
    background: #3a3a3c;
}
.progress-bar {
    background: #6aaa64;
    transition: width 0.25s ease;
}

.numpad .btn {
    width: 60px;
    height: 60px;
    font-weight: 700;
    font-size: 1rem;
    border: 2px solid #3a3a3c;
    background: transparent;
    color: #d7dadc;
    margin: 6px;
}

.numpad .btn:hover {
    border-color: #d7dadc;
}

.numpad .full-row .start-btn {
    flex: 1; 
    width: calc(60px * 3 + 6px * 4);
    height: 60px;
    font-size: 1.3rem;
    background: #6aaa64;
    border-color: #6aaa64;
    color: #fff;
    border-radius: 8px;
}

.tile.correct-all {
    background: #6aaa64;
    border-color: #6aaa64;
    color: #fff;
}
.tile.wrong {
    background: #c0392b;
    border-color: #c0392b;
    color: #fff;
}
.is-absent {
    background: #3a3a3c;
    border-color: #3a3a3c;
    color: #fff;
}